* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Lexend", sans-serif;

}

:root {
  --h1-font: 4rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;

  --bg-color: #fff;
  --text-color: #000;
  --main-color: #ff8c00;
  --other-color: #727272;
  
}